APP_NAME=Nucleus
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

FRONTEND_FRAMEWORK=tailwindcss # Options: tailwindcss (default), bootstrap

DB_DRIVER=sqlite
DB_NAME=app_db
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=root
# DB_PASS=


FILESYSTEM_DISK=local

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
# AWS_URL=
# AWS_ENDPOINT=